p { margin:0 }

img[border]{
  color: lightblue;
}

ul {
    margin-top: 32px;
    list-style-type: none;
    
    padding: 0;
    width: 200px;
   
    
   
}


li.one {
    background-color: #FFDAB9;
    padding-top: 1px
    
}

li a {
    display: block;
    text-decoration: none;
    
}

li {
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #555;
    
}

li:first-child {
    background-color: lightblue;
    border-top: 1px solid #555;
    
}


li:last-child {
    padding-top: 1px;
    background-color: #D29894;
    border-bottom: 1px solid #555;
}










