table { border-style: solid;
 color: black;
 border-collapse: collapse;   
}

caption {
  
  border-top:  solid grey;
  border-left: solid grey;
  border-right: solid grey;
}


.bold {
  
  font-weight:bold;
  border-right: solid grey;
  
}

.greyas {
    background-color: lightgrey;
}

th {
    background-color: red;
    color:white;
}

caption {
    color: black;
    font-weight: bold;
}