body {
    font-family: Arial, Verdana, sans-serif;
    
}

p {
    color: blue
    
    
}

h1.alert {
    font-size: 3em;
    
}

.alert {
    color: red;
    text-decoration: underline;
}

p#unique {
    font-size: 0.8em;
    
}
