body {
    font-family: Arial, Verdana, sans-serif;
    text-indent: 1.5em;
    background-color: lightblue;
}

h1, h2, h3 {
    font-size: 2.0em;
    font-weight: bold;
    color: yellow;
}

ul, ol {
    font-size: 0.8em;
}

table { border-style: solid;
 color: darkgrey;
    
}

.code {
    color: black;
    font: italic;
    font-size: 0.5em;
}

p.copyright_notice {
    font-size: 0.8em;
    color: red;
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}